@model TreinamentoWeb.Models.Aluno

<div class="">
    <form class="bg-secondary col-md-12">
        <div>
            <h1 class="bg-light">Alunos - << NOME_DO_ALUNO >></h1>
        </div>
        <div class="row">
            <div class="col-md-2">
                <button type="button" value="Anterior" class="anterior btn btn-light w-100" onclick="TrocaPagina('anterior')"><i class="fa fa-arrow-left" aria-hidden="true" ></i>Anterior</button>
            </div>
            <div class="col-md-2 offset-2">
                <button type="button" value="Excluir" class="excluir btn btn-danger w-100" onclick="ExcluirAluno()">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    Excluir
                </button>
            </div>
            <div class="col-md-2">
                <button type="button" value="Incluir" class="incluir btn bg-primary w-100" onclick="AbrirModal()">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    Incluir
                </button>
            </div>
            <div class="col-md-2 offset-2">
                <button type="button" value="Proximo" class="proximo btn bg-light w-100" onclick="TrocaPagina('proximo')">
                    Proximo
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                @Html.Label("Nome")
                @Html.TextBoxFor(x => x.Nome, null, new { @class = "form-control", @id = "nome", disabled = "disabled" })
            </div>
            <div class="col-md-3 col-md-offset-1">
                @Html.Label("Matricula")
                @Html.TextBoxFor(x => x.Matricula, null, new { @class = "form-control", @id = "matricula", disabled = "disabled" })
            </div>

            <div class="col-md-3 col-md-offset-1">
                @Html.Label("Situacao")
                @Html.TextBoxFor(x => x.Situacao, null, new { @class = "form-control", @id = "situacao", disabled = "disabled" })
            </div>

            <div class="col-md-3">
                @Html.Label("CPF")
                @Html.TextBoxFor(x => x.CPFaluno, null, new { @class = "form-control", @id = "cpf", disabled = "disabled" })
            </div>
            <div class="col-md-3 col-md-offset-1">
                @Html.Label("Nome da Mãe")
                @Html.TextBoxFor(x => x.NomeMae, null, new { @class = "form-control", @id = "nomeMae", disabled = "disabled" })
            </div>
            <div class="col-md-4 col-md-offset-1">
                @Html.Label("Curso")
                @Html.TextBoxFor(x => x.Curso, null, new { @class = "form-control", @id = "curso", disabled = "disabled" })
            </div>
            <div class="col-md-4">
                @Html.Label("Data de nascimento")
                @Html.TextBoxFor(x => x.DataDeNascimento, null, new { @class = "form-control", @id = "dataNascimento", disabled = "disabled" })
            </div>
            <div class="col-md-12">
                @Html.Label("Observações")
                @Html.TextBoxFor(x => x.Observacoes, null, new { @class = "form-control", @id = "observacoes", disabled = "disabled" })
            </div>
        </div>
    </form>

    <div class="modal " tabindex="-1" role="dialog" id="meuModal">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row modal-body">

                    <div class="col-3">
                        <label>Nome</label>
                        <input id="nomeModal" class="align-content-center" />
                    </div>
                    <div class="col-3">
                        <label>Matricula</label>
                        <input id="matriculaModal" />
                    </div>
                    <div class="col-3">
                        <label>Situação</label>
                        <select class="form-select col-3" aria-label="Default select example" id="situacaoModal">
                            <option selected value="">Selecione</option>
                            <option value="@TreinamentoWeb.Enum.SituacaoEnum.Ativo">Ativo</option>
                            <option value="@TreinamentoWeb.Enum.SituacaoEnum.Supenso">Suspenso</option>
                            <option value="@TreinamentoWeb.Enum.SituacaoEnum.Cancelado">Cancelado</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label>CPF</label>
                        <input id="cpfModal" />

                    </div>
                    <div class="col-4">
                        <label>Nome Mãe</label>
                        <input id="nomeMaeModal" />
                    </div>
                    <div class="col-4">
                        <label>Curso</label>
                        <select class="form-select" aria-label="Default select example" id="cursoModal">
                            <option selected value="">Selecione</option>
                            <option value="@TreinamentoWeb.Enum.CursoEnum.Java">Java</option>
                            <option value="@TreinamentoWeb.Enum.CursoEnum.Javascript">Javascript</option>
                            <option value="@TreinamentoWeb.Enum.CursoEnum.Csharp">Csharp</option>
                            <option value="@TreinamentoWeb.Enum.CursoEnum.Php">Php</option>
                            <option value="@TreinamentoWeb.Enum.CursoEnum.Delphi">Delphi</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <label>Data Nascimento</label>
                        <input id="dataNascimentoModal" />
                    </div>
                    <div class="col-12 row ms-1">
                        <label>Observações</label>
                        <textarea id="obsModal" class="b"></textarea>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="salvarModal btn btn-primary" onclick="SalvarModal()">Salvar Alterações</button>
                    <button type="button" class="fecharModal btn btn-secondary" data-dismiss="modal" onclick="fecharModal()">Fechar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" id="modalAlunoSalvo">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="AlunoModal">
                        
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
