@* Carrega o arquivo JavaScript principal da página *@
<script src="~/Scripts/projeto/exercicio/exercicio.js"></script>
<script>
    @* Recebe as URLs que executam os métodos (ações) do controller da página Exercicio *@

    Europa.Controllers.Exercicio.UrlCadastrarAluno = '@Url.Action("CadastrarAluno", "Exercicio")'
    Europa.Controllers.Exercicio.UrlGetAluno = '@Url.Action("GetAluno", "Exercicio")'
    Europa.Controllers.Exercicio.UrlExcluirAluno = '@Url.Action("ExcluirAluno", "Exercicio")'
    Europa.Controllers.Exercicio.UrlTrocaPagina = '@Url.Action("TrocaPagina", "Exercicio")'
</script>

<div id="form-aluno">
    @Html.Partial("_FormularioAluno")
</div>